.jumbotron{
    max-width: 1000px;
    margin: auto;
    background-color: white;
    color: rgb(82, 24, 79);
  }
  h1{
    color: white ;
    background-color: rgb(82, 24, 79);
  }
  .required:after {
    content:" *";
    color: red;
  }
  #whitebutton{
    color:  rgb(82, 24, 79);
    background-color:white;
  }
  #darkbutton{
    color:white;
    background-color:  rgb(82, 24, 79);
  }